
/*header**/
<<<<<<< HEAD
header{height="10vh"}

=======
header{ //top:0;
width:100%;
height:63px;
position:fixed;
top: 0;
z-index: 9999;
	background-color:var(--primary-color);
	font-family:var(--roboto);
	color: white;
}
header.site-title{
	font-family:var(--lato);
}
.container.dropdown-toggle,
.container.dropdown-item{ 
	font-size:0.7em;
}
>>>>>>> 48122d7f5d7cfeffd321053495d4da62eae78763
.header-links a{
	font-size:0.9em;
	text-decoration:none;
	color:white;
}

.container p a{
	text-decoration:none;
}



/*navigation menu**/

.navbar{
	background-color: #45ccb8;
}
.navbar-nav{
	//background-color: #45ccb8;
	padding:0;
}
.navbar-nav .nav-link{
	font-size:0.9em;
	width:130px
	color:var(--light-gray)limportant;
}
.nav-link{
	padding: 5px;
}
.navbar-nav .nav-item .nav-link a{
	padding:01.3em;
}
.nav-item{
	color: white;
}
.search-container {
	//padding-top:10px;
	float:right;
	color: black;
}
.search-container button {
  float: right;
  //padding: 6px 10px;
  //margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.search-container button:hover {
  background: #ccc;
}
.res{
	margin-top: 62px;
	
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 400px) {
  .res{
	  margin-top:100px;
  }
}

