
/*header**/
header{height="10vh"}

.header-links a{
	font-size:0.9em;
	text-decoration:none;
	color:white;
}

.container p a{
	text-decoration:none;
}



/*navigation menu**/

.navbar-nav{
	//position:fixed;
	//top:70px;

	//z-index:9999;
	padding:0;
}
.navbar-nav .nav-link{
	font-size:0.9em;
	width:130px
	color:var(--light-gray)limportant;
}
.navbar-nav .nav-item .nav-link a{
	padding:01.3em;
}






